$green : rgb(127, 198, 55);
$second_color : #A8A9AF;
$main_color : #555658;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
    background: #F2F2F2;
}

header {
    background: #000;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &-logo {
        color: white;
        font-size: 1.8rem;
    }
    &-info {
        display: flex;
        align-items: center;
        & > div:first-child {
            position: relative;
            &::after {
                position: absolute;
                top: -5px;
                content: '';
                width: 5px;
                height: 5px;
                background: $green;
                border-radius: 50%;
            }

        }
        img {
            width: 15px;
            cursor: pointer;
        }
    }
    &-exit {
        display: flex;
        align-items: center;
        margin-left: 25px;
        img {
            display: block;
            margin-right: 10px;
        }
        span {
            text-transform: uppercase;
            font-size: 0.7rem;
            cursor: pointer;
            &:hover {
                color: $main_color;
            }
        }
    }
}

aside {
    max-width: 180px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    height: calc(100vh - 49px);
    top: 0;
    margin-left: -15px;
    .menu {
        display: none;
    }
    & > div {
        position: sticky;
        top: 10px;
        background: white;
    }
}

.user-info {
    text-align: center;
    padding: 10px 0 20px;
    margin: 0 10px;
    border-bottom: 1px solid #646464;
    div {
        max-width: 60px;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid black;
        padding: 2px;
        img {
            width: 100%;
            display: block;
        }
    }
    h3 {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    h4 {
        font-size: 0.9rem;
        margin-top: 5px;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    &__item {
        padding: 10px 0 10px 20px;
        display: flex;
        align-items: center;
        &:hover {
            background: rgba(0, 180, 0, 0.2);
            cursor: pointer;
            span {
                color: rgb(0, 150, 0)
            }
        }
        img {
            width: 20px;
            height: 20px;
        }
        span {
            padding-left: 10px;
            color: $main_color;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}

.main {
    display: flex;
    position: relative;
}

.content {
    width: 100%;
    padding: 40px 0 20px;
    background: #F2F2F2;
    margin-left: 200px;
    &-header, &-add, &-date, &-update {
        display: flex;
    }
    &-header {
        justify-content: space-between;
        margin-bottom: 10px;
        h2 {
            font-size: 1.4rem;
        }
    }
    &-date {
        align-items: center;
        margin-right: 15px;
        cursor: pointer;
        &__title {
            font-size: 0.8rem;
        }
        &__note {
            font-size: 0.6rem;
        }
    }
    &-update {
        align-items: center;
        span {
            font-size: 0.7rem;
        }
        &__btn {
            margin-left: 10px;
            width: 35px;
            height: 35px;
            background-color: #fff;
            outline: none;
            border: none;
            border-radius: 3px;
            background-size: 45%;
            cursor: pointer;
            transition: all 0.3s;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url('../images/refresh.svg');
            &:hover {
                background: silver;
                background-position: 50% 50%;
                background-size: 45%;
                background-repeat: no-repeat;
                background-image: url('../images/refresh.svg');
            }
        }
    }
}

.caret {
    margin-left: 10px;
    width: 12px;
}

.table {
    &-options {
        background: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid silver;
        border-bottom: none;
        padding: 10px 15px;
    }
    &-options, &-create {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-filter {
        display: flex;  
        align-items: center;
        justify-content: space-between;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 8px 10px;
        margin-right: 10px;
        width: 100%;
        max-width: 100px;
        transition: all 0.2s;
        &:hover {
            background: silver;
            cursor: pointer;
        }
        img {   
            &:first-child {
                margin-right: 2px;
                max-width: 14px;
                width: 100%;
            }
            &:last-child {
                width: 100%;
                max-width: 12px;
                margin-left: 5px;
            }
        }
        span {
            font-size: 0.9rem;
        }
    }
    &-create {
        border: none;
        border-radius: 5px;
        background: #33DE00;
        color: white;
        padding: 8px 12px;
        transition: all 0.2s;
        &:hover {
            background: rgb(40, 170, 0);
            cursor: pointer;
        }
        img {
            width: 20px;
            margin-right: 5px;
        }
        span {
            font-size: 0.9rem;
        }
    }
    &__date {
        display: flex;
        flex-direction: column;
    }
    &__center {
        text-align: center;
    }
    &-branch {
        p {
            color: $main_color;
        }
        span {
            color: $second_color;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }
    &-switch {
        position: relative;
        display: inline-block;
        width: 52px;
        height: 28px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked + .table-switch__slider {
                background-color: #33DE00;
                border: 1px solid #33DE00;
            }
            &:checked + .table-switch__slider:before {
                transform: translateX(22px);
                background-color: #fff;
            }
            &:focus + .table-switch__slider {
                box-shadow: 0 0 1px #33DE00;
            }
        }
        &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #EBEDF0;
            transition: .3s;
            border-radius: 30px;
            border: 1px solid #606770;
            &:before {
                position: absolute;
                border-radius: 50%;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: #606770;
                transition: .3s;
            }
        }
    }
    &-checkbox {
        input {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            outline: none;
            &:active, &:checked:active {
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
                outline: none;
            }
            &:checked {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                color: #99a1a7;
                outline: none;
                &:after {
                    outline: none;
                    content: '\2714';
                    font-size: 14px;
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    color: #99a1a7;
                }
            }
        }
    }
    &-progress {
        position: relative;
        width: 60px;
        border: 2px solid silver;
        border-radius: 10px;
        margin-bottom: 6px;
        & > div {
            height: 12px;
            position: relative;
            background: orange;
            border-radius: 10px;
        }
        .progressbars {
            &__info {
                height: 20px;
                background: #000;
                color: white;
                text-align: center;
                position: absolute;
                top: -30px;
                border-radius: 5px;    
                padding: 4px 10px;
            }
        }
    }
    &-company {
        color: #5A79BE;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
    }
    &-status {
        position: relative;
        font-size: 0.8rem;
        & > p {
            color: $second_color;
            margin-left: 5px;
            width: 70px;
            &:before {
                content: '';
                display: inline-block;
                border-radius: 50%;
                background: $second_color;
                width: 5px;
                height: 5px;
                top: -3px;
                left: -3px;
                position: relative;
            }
            &.active {
                color: #3F9743;
                &:before {
                    background: #3F9743;
                }
            }    
            p {
                font-size: 0.6rem;
                margin-left: 5px;
                margin-top: 3px;
            }
        }
    }
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    background: white;
    border: 1px solid silver;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    border-collapse: separate;
}
th { 
    background: #F8F8F8; 
    color: $main_color; 
    border-top: 1px solid silver;
    border-bottom: none;
    font-weight: bold; 
    padding: 15px; 
    text-align: left; 
    font-size: 0.9rem;
    vertical-align: middle
}
td { 
    padding: 15px; 
    text-align: left; 
    font-size: 0.9rem;
    border-top: 1px solid silver;
    border-bottom: none;
    vertical-align: middle;
    color: $main_color;
    font-size: 0.8rem;
    &:last-child {
        text-align: right;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1340px) {
    th, td {
        padding: 15px 10px;
    }
}
@media only screen and (max-width: 1220px) {
    th, td {
        padding: 10px 8px;
    }
    .table-progress {
        width: 50px;
    }
}
@media only screen and (max-width: 1144px) {
    .content {
        padding: 40px 10px;
    }
    th, td {
        padding: 6px;
        font-size: 0.8rem;
    } 
    .table {
        &-switch {
            width: 26px;
            height: 16px;
            input {
                &:checked + .table-switch__slider:before {
                    transform: translateX(10px);
                }
            }
            &__slider {
                border-radius: 30px;
                &:before {
                    border-radius: 50%;
                    height: 10px;
                    width: 10px;
                    left: 2px;
                    bottom: 2px;
                }
            }
        }
        &-checkbox {
            input {
                padding: 6px;
                &:checked {
                    &:after {
                        font-size: 10px;
                        top: 0px;
                        left: 2px;
                    }
                }
            }
        }
        &-progress {
            width: 40px;
            div {
                height: 7px;
            }
        }
        &-status {
            p {
                width: 100%;
            }
        }
    }
    aside {
        max-width: 40px;
        z-index: 10;
        transition: all 0.3s;
        &.active {
            max-width: 180px; 
            box-shadow: 0 1px 10px black;
            .user-info {
                border-bottom: 1px solid #000;
                h3, h4 {
                    display: block;
                    animation: fade 0.3s;
                    animation-fill-mode: forwards;
                    animation-delay: 0.1s;
                }
            }
            .nav-list {
                span {
                    display: inline;
                    padding-left: 10px;
                    animation: fade 0.3s;
                    animation-fill-mode: forwards;
                    animation-delay: 0.1s;
                    white-space: nowrap;
                }
            }
            .menu {
                &__item {
                    background: white;
                    &:after {
                        top: 5px;
                        transform: rotate(45deg);
                    }
                    &:before {
                        transform: rotate(-45deg);
                        top: 5px;
                    }
                }
            }
        }
        .user-info {
            margin-top: 10px;   
            border: none;
            h3, h4 {
                opacity: 0;
                pointer-events: none;
                white-space: nowrap;
            }
        }
        .menu {
            position: relative;
            display: block;
            cursor: pointer;
            height: 12px;
            margin: 10px 0 0 10px;
            &__item {
                height: 2px;
                width: 20px;
                background: silver;
                transition: all 0.3s;
                &:after, &:before {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 20px;
                    background: silver;
                    transition: all 0.3s;
                }
                &:after {
                    top: 10px;
                }
                &:before {
                    top: 5px;
                }
            }
        }
    }
    .nav-list {
        &__item {
            max-height: 35px;
            padding: 10px;
            span {
                display: none;
                opacity: 0;
                pointer-events: none;
                white-space: nowrap;
            }
        }
    }
    .content {
        margin-left: 40px;
        padding: 40px 0;
    }
    .table-filter {
        padding: 1px 4px;
        max-width: 80px;
        span {
            font-size: 0.8rem;
        }
    }
    .table-create {
        padding: 4px 6px;
        img {
            width: 12px;
        }
        span {
            font-size: 0.8rem;
        }
    }
}

@media only screen and (max-width: 768px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid silver; 
		position: relative;
        padding: 10px 5px 10px 50%;
        &:first-child {
            border-top: 2px solid silver;
        }
        &:last-child {
            text-align: left;
            border-bottom: 2px solid silver;
        }
    }
    
	tr:first-child {
        td:first-child {
            border-top: 4px solid silver;
        }
    }
    tr:last-child {
        td:last-child {
            border-bottom: 4px solid silver;
        }
    }
    
    th, td {
        font-size: 1rem;
    } 
    td {
        max-width: 100%;
    }
	
	td:before { 
        display: block;
		position: absolute;
        left: 8px;
        width: 100px;
        white-space: nowrap;
        color: #928888;
        font-weight: bold;
    }
    
    .table {
        &__center {
            text-align: left;
        }
    }
	
	td:nth-of-type(1):before { content: "Selected"; }
	td:nth-of-type(2):before { content: ""; }
	td:nth-of-type(3):before { content: "Branch"; }
	td:nth-of-type(4):before { content: "Campaign Name"; }
	td:nth-of-type(5):before { content: "Status"; }
	td:nth-of-type(6):before { content: "Start"; }
	td:nth-of-type(7):before { content: "End"; }
	td:nth-of-type(8):before { content: "Target"; }
	td:nth-of-type(9):before { content: "Result"; }
	td:nth-of-type(10):before { content: "Budget"; }
	td:nth-of-type(11):before { content: "Spent"; }
	td:nth-of-type(12):before { content: "CR/Unit"; }
}

@media only screen and (max-width: 662px) {
    .header-logo {
        font-size: 1.2rem;
    }
    .header-exit {
        img {
            margin: 0;
        }
        span {
            display: none;
        }
    }
    .content {
        padding: 20px 0;
        &-add {
            flex-direction: column;
        }
        &-date {
            margin-right: 0;
        }
        &-update {
            justify-content: end;
            margin-top: 10px;
        }
    }
    aside {
        height: 100%;
    }
}

@media only screen and (max-width: 524px) {
    td, th {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
    .content {
        &-header {
            flex-direction: column;
        }
        &-add {
            margin-top: 20px;
            align-items: flex-end;
        }
    }
    .table-create {
        img {
            margin: 0;
            width: 14px;
        }
        span {
            display: none;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}   